body{
    text-align: center;
    font-family: "Poppins";
    color:seagreen;
    text-align:center;
    background-color: darkgrey;
}

#container{
    width: 70%;
    border: 1px solid black;
    margin:0 auto;
    background-color: white;
}
#cabecera{
    background-color: black;
    color: white;
    border: solid 3px yellow;
    box-shadow: 0px 2px 20px 0px violet;
}
#cabecera h1{
 display: inline-block;   
}

#logo{
display: inline;
margin: 0px 0px;
height: 100px;
width: 100px;
border-radius: 50px;
margin: 0px 21px -30px 0px;
}

#cabecera #tagline{
    display: block;
}

#btnClick{
    background-color: crimson;
    color: white;
    border-radius: 10px;
    font-size: larger;
    width: 150px;
    height: 50px;
    
    }