body{
    text-align: center;
    font-family: "Poppins";
    color:seagreen;
    text-align:center
}

#container{
    width: 70%;
    border: 1px solid black;
    margin:0 auto
}
#cabecera{
    background-color: black;
    color: white;
    border: solid 3px yellow;
    box-shadow: 0px 2px 20px 0px violet;
}

footer{
    font-size: smaller;
    padding: 30px 0px;
    color: white;
    background-color: black;
    width: 70%;
    margin: 0 auto;
    border: solid 3px yellow;
    box-shadow: 0px 2px 20px 0px violet;
}
